body{
  background-color: #eee;
}

.App {
  text-align: center;
  margin: auto;
  width: 80%;
}

.logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#basic-info{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:50px auto;
}

.filler-about{
  width: 30%;
  height: 100px;
  margin: 1%;
  background-color: lightblue;
  border-radius: 5px;

}

#basic-info h2{
  display: flex;
  align-items: center;
  width: 60%;
  margin: 1%%;
  background-color: navy;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
}

.just-right{
  padding-right: 20px;
  text-align: right;
  justify-content: flex-end;
}

.just-left{
  padding-left: 20px;
  text-align: left;
}

#specializations{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
  margin-bottom: 20px;
}
#specializations h2{
  width:51%;
  background-color: navy;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5em;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#specializations ul{
  width: 50%;
  list-style: none;
}

#specializations li{
  background-color: lightblue;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.navbar a{
  margin: 10px;
  width: 1fr;
  height: 1fr;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: navy;
}
.navbar a:hover{
  color: navy;
  text-decoration: none;
  background-color: #ccc;
}
